 body {
            font-family: Arial, sans-serif;
           background-color:#F4BB44;
        }
        .login-container {
            width: 300px;
            margin: 100px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            
        }
        .login-container h2 {
            text-align: center;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: calc(100% - 20px);
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .login-container input[type="submit"] {
            width: 100%;
            margin: 10px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #FF7F50;
            color: #fff;
            cursor: pointer;
        }
        .login-container input[type="submit"]:hover {
            background-color: red;
        }

#sign-up{

    text-align:center;
    
}
#sign-up-1{
    text-decoration:none;

    
}